// $background_color: #070F2B;
// $color2: #1B1A55;
// $color3: #535C91;
// $color4: #9290C3;
// $font_color: white;

$background_color: #fffcf2;
$color2: #ccc5b9;
$color3: #403d39;
$color4: #252422;
$color5 : #eb5e28;
$font_color: rgb(29, 29, 29);

$placeholder_color: fffcf2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: manrope;
}

body {
    background-color: $background_color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

// NAV BAR

nav > label {
    transition: transform 0.2;
}

nav > label > i {
    color: white;
    font-size: 40px;
    float: right;
    line-height:70px ;
    margin-right: 40px;
    display: none;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.2s;
}

nav > label > i:hover{  
    color: $color5;
}

nav > label.active {
    transform: rotate(180deg);
    i {
        transform: rotate(-180deg);
        line-height:96px ;
        color: $color5;
    }
}

#check {
    display: none;
}

.nav-links {
    float: right;
}

.nav-links > li > a{
    text-decoration: none;
    font-size: 18px;
    color: $font_color;
    text-transform: uppercase;
    position: relative;
}

.active {
    font-weight: bold;
}

.nav-links > li > a.active::before {
    color: $color4;
    transform-origin: left;
    transform: scaleX(1);
}

.nav-links > li > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $color5;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-links> li > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

.nav-links > li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 25px;
}

.header-logo {
    line-height: 80px;
    padding-left: 50px;
    font-weight: bold;
    color: $font_color;
    font-size: 35px;
}

.header-logo > a {
    text-decoration: none;
    color : $font_color;
    transition: all 0.2s;
}

.header-logo > a:hover {
    color: $color5;
}

nav {
    background-color: $color2;
    height: 80px;
    color: $font_color;
    width: 100%;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

// HOME PAGE

main{
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    color: $font_color;
}

.section {
    width: 95%;
    background-color: $color2;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 30px;
    color: $font_color;
}

.color5 {
    color: $color5;
    transition: all 0.2s;
}

.color5:hover {
    color:$font_color;
}

.section > h1 {
    margin-bottom: 18px;
    font-size: 30px;
}

.section > p {
    font-size: 18px;
}

// FOTOGALERIJ PAGE

.foto_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0;
}

.foto_container > img {
    width: 100%     ;
}

// CONTACT PAGE
main.contact {
    display: grid;
    grid-template-columns: 50% 10%;
    justify-content: center;
}

.socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.socials > a > i {
    font-size: 50px;
    color: $font_color;
    transition: all 0.2s;
}

.socials > a > i:hover {
    color: $color5;
}

.contact-container {
    background-color: $color2;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-container > form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 10px;
}

.contact-container > form > label {
    padding-top: 5px;
    font-size: 20px;
}

.submit {
    margin-top: 15px;
    width: 100px ;
    transition: all 0.2s;
}

.submit:hover {
    cursor: pointer;
    background-color: #eb5e28;
    color:$background_color;
}

.contact-container > form > textarea {
    resize: vertical;
}

.contact-container > form > input, select, textarea {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: $background_color;
    color: $font_color;
}

.contact-container > form > input::placeholder, select::placeholder, textarea::placeholder {
    color: $placeholder_color;
}

.contact-container > form > input:focus, select:focus, textarea:focus {
    outline: none;
}

.page-title {
    width: 100%;
    text-align: center;
    font-weight: normal;
}

// FOOTER

footer {
    margin-top: auto;
    color: $font_color;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: $color2;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

// SCREEN WIDTH 1080px

@media (max-width: 900px) {

    // CONTACT PAGE

    .contact-container {
        width: 100%;
    }

    // NAV BAR

    label.header-logo {
        font-size: 30px;
    }

    .nav-links > li > a{
        font-size: 15px;
    }
}

// SCREEN WIDTH 980px

@media (max-width: 790px) {

    // NAV BAR

    nav {
        position: absolute;
        top: 0;
        width: 100%;
    }

    main.contact {
        width: 100%;
        grid-template-columns: 80% 10%;
        grid-gap: 20px;
    }

    main {
        margin-top: 100px;
    }

    .nav-links {
        margin-top: -10px;
    }

    .nav-icon > i {
        display: block;
        color: $font_color;
    }

    label.header-logo {
        font-size: 45px;
    }

    nav > ul {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $color2;
        top:80px;
        right:-100%;
        text-align: center;
        transition: all 0.2s;
        padding-top: 10px;
        border-top: $color5 solid 5px;
    }

    .nav-links > li {
        display: block;
        margin: 0;
        padding: 0;
    }

    .nav-links > li > a {
        font-size: 30px;
    }

    #check:checked ~ ul {	
        right:0;
    }

    // FOTOGALERIJ

    .foto_container {
        grid-template-columns: 1fr;
    }
}